.primary-nav {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    @mixin atMedium {
      width: 20rem;
      justify-content: space-between; 
      margin-right: 2.5rem;
    }
  }

  li {
    list-style: none;
  }

  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba(47, 85, 114, .5);
    
    @mixin atMedium {
      font-size: 1rem;
      background-color: transparent;
      padding: 0;
    }

  }


}